<div class="item menu">
  <app-titulo nome="Menu"/>
  <div class="listaMenu">
    <a href="#">
      <span class="material-symbols-outlined"> home </span>

      Inicio</a
    >
    <a href="#">
      <span class="material-symbols-outlined"> family_history </span>

      Projetos</a
    >
    <a href="#">
      <span class="material-symbols-outlined"> collections_bookmark </span>
      Publicações
    </a>
    <a href="#">
        <span class="material-symbols-outlined"> diversity_3 </span>
        Equipe
    </a>
    <a href="#">
        <span class="material-symbols-outlined">forward_to_inbox</span>
      Entre em Contato</a
    >
  </div>
</div>
