<div class="item resultado">
  <app-titulo nome="Resultado"/>
  <div>
    <ul>
      <li><b>Titulo1</b></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Serviços</a></li>
      <li><a href="#">Resultados</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
    <ul>
      <li><b>Titulo2</b></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Serviços</a></li>
    </ul>
    <ul>
      <li><b>Titulo3</b></li>
      <li><a href="#">Home</a></li>
    </ul>
  </div>
</div>
